In [3]:
import requests
import pandas as pd

In [7]:
rep = requests.get('http://abdoutlem1997.pythonanywhere.com/bookings/')

jsonResp = rep.text

In [8]:
pd.read_json(jsonResp)

    id          roomid
0    1          python
1    2          python
2    3          python
3    4          python
4    5          python
5    6           51b89
6    7             151
7    8            158d
8    9         1651651
9   10         1651651
10  11  troooop biennn